<script type="x-shader/x-fragment" id="fragmentshader">
  varying vec2 vUv;
  varying vec3 vColor;
  varying float vLocked;
  uniform vec3 color;
  uniform sampler2D small_roid_texture;
  uniform sampler2D small_roid_circled_texture;

  void main() {
    if (vLocked == 0.0) {
    gl_FragColor = vec4(vColor, 1.0) * texture2D(small_roid_texture,
      vec2(gl_PointCoord.x, 1.0 - gl_PointCoord.y));
    }
    else {
    gl_FragColor = vec4(vColor, 1.0) * texture2D(small_roid_circled_texture,
      vec2(gl_PointCoord.x, 1.0 - gl_PointCoord.y));
    }
  }
</script>
